# ignore the common tmp, debug, intermediate and ephemeral fellas
**/.buildcache
**/*.DS_Store
**/*~
**/*.tmp
**/*.zip
**/*.log

# eliminate parts we don't want picked up in webstorm
**/.idea/workspace.xml
**/.idea/jsLibraryMappings.xml


# build and test stuff that we don't want to keep in VCS
**/*.lock
**/build
**/coverage
**/dist
**/ignore
**/node_modules
**/package-lock.json
**/reports
**/sandbox